[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
requests = "*"
beautifulsoup4 = "*"
folium = "*"
streamlit = "*"
certifi = "*"
streamlit-folium = "*"
geopandas = "*"
watchdog = "*"

[dev-packages]

[requires]
python_version = "3.11"
